{% extends "base.html" %}

{% block title %}ログイン{% endblock %}

{% block content %}
<h2 class="app-h2">ログイン</h2>

<form method="POST" class="space-y-5">
    {% csrf_token %}
    
    <div>
        <label class="app-form-label">ユーザー名</label>
        <input type="text" name="username" class="app-form-input">
    </div>

    <div>
        <label class="app-form-label">パスワード</label>
        <input type="password" name="password" class="app-form-input">
    </div>

    <button type="submit" class="app-btn-primary">ログイン</button>
</form>

{% if error %}
    <div class="mt-5 text-red-500">{{ error }}</div>
{% endif %}

{% endblock %}